*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #2f343f, #0e265a);
}

.calculator-container{
    background: #000;
    padding: 2.4vw 1.2vw 1.2vw;
    border-radius: 0.6vw;
}

.screen-display{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #fff;
    font-size: 3.7vh;
    height: 7vh;
    margin: 0 0.5vw;
    padding-right: 6px;
    border-radius: 0.3vw;
}

.calculator-buttons{
    border-spacing: 6px;
}

.utility-options{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.utility-options td{
    width: 18vw;
    height: 4vw;
}

.utility-options tr{
    display: block;
    margin: 2.25vw 0.5vw 2.25vw 0;
}

td{
    width: 15vw;
    height: 15vw;
    text-align: center;
    background: #3b3939;
    color: #fff;
    font-weight: 700;
    font-size: 2.7vh;
    cursor: pointer;
    border-radius: 0.3vw;

    /*--- Prevent Text Selection on Double Click ---*/
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

    transition: background 0.2s;
}

td[data-number]{ background: #3b4763 }
td[data-number]:hover{ background: #6f85b8 }
td[data-night-reduction]{ background: #1c4870 }
td[data-night-reduction]:hover{ background: #131e29 }

@media screen and (min-width: 1000px){
    .screen-display{
        font-size: 6.2vh;
        height: 10vh;
    }

    td{
        width: 5vw;
        height: 5vw;
        font-size: 3.5vh;
    }
}

@media screen and (max-height: 500px){
    .screen-display{
        font-size: 6.5vh;
        height: 10vh;
    }

    td{
        width: 8.5vw;
        height: 8.5vw;
        font-size: 4.5vh;
    }
}

td:hover{
    background: rgba(255, 255, 255, 0.15);
}